
.form_register{
    width: 0 auto;
    margin: 0 auto;
}

.form_register h1{
    color: #3c93b0;
    text-align: center;
}

.hr1{
    border: 0;
    background: #CCC;
    height: 1px;
    margin: 10px 0;
    display: block;
}

h4{
    color: #3c93b0;
}

form{
    background: #FFF;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
    width: 500px;
    height: auto;
}

#labels{
    display: block;
    margin: 15px auto 5px auto;
}

input, select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
}

#btns{  
    margin: 15px auto;
}

#a1{
    color: blue;
}

#a2{
    color: red;
}




